.background {
    background-color: aqua;
}

.title {
    font-weight: 400;
    text-align: center;
}

#summary{
    text-align: center;
    font-family: "times new roman", serif;
}
.photo {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 45%;
    text-align: center;
}

.other{
    font-weight: 400;
}
